/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h2 {
    color: #333;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    width: 30%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sms label, .sms input[type="radio"] {
    display: inline-block;
    margin-right: 10px;
  }
  .numeroFrecuente label, .numeroFrecuente input[type="text"], .numeroFrecuente input[type="checkbox"] {
    display: inline-block;
    margin-right: 10px;
  }
  .numeroRecuperar label {
    text-align: center;
    display: block;
  }
  
  
  label {
    display: block;
    margin-top: 20px;
    color: #666;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #449d44;
  }
  /* Estilos CSS para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

  
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 600px) {
    body {
      padding: 0 10px;
    }
    form {
        width: 100%;
    }
  
    input[type="text"],
    select {
      font-size: 16px;
    }
 
    .modal-content {
     
      width: 80%;
      
    }
  }
  